body {
    background-color:bisque;
    margin: auto;
    
}
table, td, th {
    border: 2px solid black;
    text-align: center;
    
}
th.name, th.question, th.description{
    width: 33%;
}



.grid{
    background-color: skyblue;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: ;
    gap:20px;
    height: 100px;
    padding: 10px;
    text-align: center;
}
.a {
    border: 1px solid;
    background-color: blanchedalmond;

}
.b {
    border: 1px solid;
    background-color: blanchedalmond;

}
.c {
    border: 1px solid;
    background-color: blanchedalmond;

}

.image{
    width: 300px;
    height: auto;
}
form {
    text-align: center;
}

